@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}
/* / RESET */

/* VARIABLES */
:root {
  --bg-color: #f7f7f7;
  --card-bg-color: #ffffff;
  --accent-color: #8444df;
  --text-color: #333333;

  --ff: "Poppins", sans-serif;
  --fw-normal: 300;
  --fw-bold: 500;
}
/* / VARIABLES */
